<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!--
	<appSettings>
		<add key="connectionString" value="Server=LAPTOP-RI290K7P\SQLEXPRESS;Database=MusicDatabase;Integrated Security=true;TrustServerCertificate=true;"/>
		<add key="updateCommand" value="UPDATE Coarde SET vechime = @vechime, refolosit=@refolosit, id_material_coarda=@id_material_coarda WHERE id_coarda = @id_coarda"/>
		<add key="deleteCommand" value="DELETE FROM Coarde where id_coarda=@id"/>
		<add key="insertCommand" value="INSERT INTO Coarde (id_prod,id_material_coarda,vechime,refolosit) values (@id_prod,@id_material,@vechime,@refolosit)"/>
		<add key="paramsForInsert" value="@id_prod,@id_material,@vechime,@refolosit"/>
		<add key="paramsForInsertTypes" value="int,int,int,bool"/>
		<add key="paramsForDelete" value="@id"/>
		<add key="paramsForUpdate" value="@vechime,@refolosit,@id_material_coarda,@id_coarda"/>
		<add key="selectFromParent" value="SELECT * FROM ProducatoriCoarde"/>
		<add key="parent" value="ProducatoriCoarde"/>
		<add key="selectFromChild" value="SELECT id_coarda, nume_material,vechime,refolosit,id_prod,C.id_material_coarda FROM Coarde C INNER JOIN MaterialeCoarde M on M.id_material_coarda=C.id_material_coarda"/>
		<add key="child" value="Coarde"/>
		<add key="size" value="4"/>
	</appSettings>
	-->

	<appSettings>
		<add key="connectionString" value="Server=LAPTOP-RI290K7P\SQLEXPRESS;Database=MusicDatabase;Integrated Security=true;TrustServerCertificate=true;"/>
		<add key="updateCommand" value="UPDATE Instrumente SET id_coarda=@id_coarda, model=@model, an_fabricatie=@an_fabricatie, pret=@pret WHERE id_instr=@id_instr"/>
		<add key="deleteCommand" value="DELETE FROM Instrumente where id_instr=@id"/>
		<add key="insertCommand" value="INSERT INTO Instrumente (id_cat,id_coarda,model,an_fabricatie,pret) values (@id_categorie,@id_coarda,@model,@an_fabricatie,@pret)"/>
		<add key="paramsForInsert" value="@id_categorie,@id_coarda,@model,@an_fabricatie,@pret"/>
		<add key="paramsForInsertTypes" value="int,string,int,int,int"/>
		<add key="paramsForDelete" value="@id"/>
		<add key="paramsForUpdate" value="@id_coarda,@model,@an_fabricatie,@id_cat,@pret,@id_instr"/>
		<add key="selectFromParent" value="SELECT * FROM Categorii"/>
		<add key="parent" value="Categorii"/>
		<add key="selectFromChild" value="SELECT id_instr,id_coarda,model,an_fabricatie,pret,id_cat as id_categorie from Instrumente"/>
		<add key="child" value="Instrumente"/>
		<add key="size" value="5"/>
	</appSettings>

</configuration>