<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="connectionString" value="Server=LAPTOP-RI290K7P\SQLEXPRESS;Database=MusicDatabase;Integrated Security=true;TrustServerCertificate=true;"/>
		<add key="updateCommand" value="UPDATE Coarde SET vechime = @vechime, refolosit=@refolosit, id_material_coarda=@idmat WHERE id_coarda = @id"/>
		<add key="deleteCommand" value="DELETE FROM Coarde where id_coarda=@id"/>
		<add key="insertCommand" value="INSERT INTO Coarde (id_prod,id_material_coarda,vechime,refolosit) values (@id_prod,@id_material,@vechime,@refolosit)"/>
		<add key="paramsForInsert" value="@id_prod,@id_material,@vechime,@refolosit"/>
		<add key="paramsForDelete" value="@id"/>
		<add key="paramsForUpdate" value="@vechime,@refolosit,@idmat,@id"/>
		<add key="selectFromParent" value="SELECT * FROM ProducatoriCoarde"/>
		<add key="parent" value="ProducatoriCoarde"/>
		<add key="selectFromChild" value="SELECT id_coarda, nume_material,vechime,refolosit,id_prod,C.id_material_coarda FROM Coarde C INNER JOIN MaterialeCoarde M on M.id_material_coarda=C.id_material_coarda"/>
		<add key="child" value="Coarde"/>
		<add key="size" value="3"/>
	</appSettings>
</configuration>