.card{
    border: 1px solid black;
    padding: 40px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 10px;

}
.number{
    visibility: hidden;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 100px;
}

.card:hover{
    opacity: 0.5;
}
img{
    position: relative;
    width: 100px;
    height: 100px;
}
.flip{
    visibility: hidden;
}

